@font-face {
	font-family: "PlayfairDisplay-Regular";
	src:url(../fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
	font-family: "PlayfairDisplay-Bold";
	src:url(../fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
	font-family: "PlayfairDisplay-Italic";
	src:url(../fonts/PlayfairDisplay-Italic.ttf);
}

@font-face {
	font-family: "Ubuntu-Regular";
	src:url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
	font-family: "Ubuntu-Italic";
	src:url(../fonts/Ubuntu-Italic.ttf);
}

@font-face {
	font-family: "Ubuntu-Bold";
	src:url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
	font-family: "Inconsolata";
	src:url(../fonts/Inconsolata.otf);
}
