$gray20: #333333;
$gray50: #808080;
$gray60: #999999;
$gray70: #cccccc;
$gray80: #e7e7e7;
$gray90: #e5e5e5;
$gray100:  #eeeeee;
$gray110:  #f8f8f8;
$gray120:  #f6f6f6;
$white: #ffffff;
$black: #000000;
$softRed: #f38181;
$softYellow: #fce38a;
$softCyan: #95e1d3;
$softOrange: #eaab86;
$pink: #f5bcbc;