@import "_reset.scss";
@import "_fonts.scss";
@import "_variables.scss";
@import "_mixins.scss";

body {
	color: $gray60;
	font-family: Roboto-Regular, Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;

	background-color: $gray50;
}

.outer-container {
	width: 1920px;
	margin: 0 auto;

	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.inner-container {
	width: 1200px;
	margin: 0 auto;
}

.header {
	width: 100%;
	padding: 28px 0 1px;
	
	background-color: $softOrange;
	background-image: url("../images/eagle.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
	&__checkbox {
		display: none;
	}

	&__flex-container {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	&__nav-container {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	&__logo {
		color: $white;
		@include fontMontserratBold ();
		
		text-decoration: none;

		span {
			text-transform: uppercase;
		}
	}

	&__nav-item {
		position: relative;
		padding: 0 25px;

		color: $white;
		@include fontMontserratRegular ();

		text-transform: uppercase;
		text-decoration: none;

		&--color-y {
			color: $softYellow;
		}

		&--color-y::before {
			content: "";
			position: absolute;
			top: 25px; 
			width: 50px;
			height: 3px;

			background-color: $softYellow; 
		}
	}

	&__shop {
		display: flex;
		justify-content: space-between;
		width: 80px;
		margin-left: 25px;

		&-basket-img,
		&-search-img {
			width: 18px;
			height: 18px;

			cursor: pointer;
		}
	}

	&__mob-menu {
		display: none;
	}

	&__title {
		width: 855px;
		margin: 65px auto 57px;

		color: $white;
		@include fontMontserratBold ();
		font-size: 150px;
		line-height: 140px;

		text-transform: uppercase;
		text-align: center;
	}

	&__sub-title {
		padding-top: 194px;

		color: $white;
		@include fontKaushanScript ();
		font-size: 72px;

		text-align: center;
	}

	&__button {
		width: 160px;
		height: 40px;
		margin-top: 50px;
		margin-left: calc(50% - 80px);

		color: $white;
		@include fontMontserratRegular ();
		font-weight: 700;
		text-transform: uppercase;

		border: 3px solid $white;
		background-color: transparent;

		cursor: pointer;
	}

	&__bottom-blocks {
		display: flex;
		justify-content: space-between;
		margin-top: 157px;
	}

	&__bottom-block {
		position: relative;
		display: flex;
		align-items: center;
		width: 280px;
		height: 70px;

		color: $white;
		@include fontMontserratRegular ();
		font-size: 18px;
		text-transform: uppercase;

		border-top: 3px solid $white;

		&-num {
			padding-right: 5px;

			@include fontMontserratBold ();
			font-size: 24px;
		}

		&--add-line::before {
			content: "";
			position: absolute;
			top: -3px;
			display: block;
			width: 70px;

			border-top: 3px solid $softRed;
		}
	}
}

.separate-line {
	width: 60px;
	height: 3px;
	margin: 0 auto;

	background-color: $white;

	&--red {
		background-color: $softRed;
	}
}

.about {
	padding: 91px 0 110px;

	background-color: $white;

	&__images {
		display: flex;
		justify-content: space-between;
	}

	&__text {
		width: 955px;
    	margin: 42px auto 97px;

		text-align: center;
	}

	&__image {
		display: block;
		width: 380px;
		height: 250px;
	}

	&__image-container {
		position: relative; 
		top: 0;
		left: 0;
		transition: all 0.2s ease-in;
	}

	&__hovered {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		position: absolute;

		background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
		transition: all 0.2s ease-in;
		opacity: 0;

		&-icon {
			width: 32px;
			height: 24px;
		}

		&-text {
			margin-top: 10px;

			color: $white;
			@include fontMontserratRegular ();
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	&__image-block {
		background-color: $softCyan;

		&:hover .about__image-container {
			top: -7px;
			left: -7px;
		}

		&:hover .about__hovered {
			opacity: 1;
		}
	}

}

.subtitle {
	color: $gray20;
	@include fontKaushanScript ();

	text-align: center;
}

.title {
	margin: 21px auto 39px;

	color: $gray20;
	@include fontMontserratBold ();
	text-transform: uppercase;

	text-align: center;
}

.statistics {
	background-color: $softCyan;

	&__block {
		display: flex;
	}

	&__item {
		width: 240px;
		height: 270px;

		text-align: center;

		border-left: 1px solid rgba(255, 255, 255, 0.3);

		&--add-br {
			border-right: 1px solid rgba(255, 255, 255, 0.3);
		}
	}

	&__number {
		margin-top: 102px;

		color: $white;
		@include fontMontserratBold ();
		font-size: 72px;

		text-transform: uppercase;
	}

	&__text {
		padding-top: 40px;

		color: $white;
		@include fontMontserratRegular ();
		text-transform: uppercase;
	}
}

.services {
	padding: 110px 0 58px;

	background-color: $white;

	&__list {
		display: flex;
		flex-wrap: wrap;
		padding-top: 27px;

		&:before {
			position: relative;
			top: 160px;
			content: "";
			display: block;
			width: 1200px;

			border: 1px solid $gray90;
		}
	}

	&__item {
		width: 400px;
		padding-left: 94px;
		box-sizing: border-box;

		&--add-icon1::before {
			background: url("../images/services__icon_1.png") no-repeat;
		}

		&--add-icon2::before {
			background: url("../images/services__icon_2.png") no-repeat;
		}

		&--add-icon3::before {
			background: url("../images/services__icon_3.png") no-repeat;
		}

		&--add-icon4::before {
			background: url("../images/services__icon_4.png") no-repeat;
		}

		&--add-icon5::before {
			background: url("../images/services__icon_5.png") no-repeat;
		}

		&--add-icon6::before {
			background: url("../images/services__icon_6.png") no-repeat;
		}
		
		&::before {
			content: "";
			position: relative;
			top: 40px;
    		left: -64px;
			display: block;
			width: 32px;
			height: 32px;
		}

		&-title {
			color: $gray20;
			@include fontMontserratRegular ();
			text-transform: uppercase;
		}

		&-text {
			padding: 8px 0 59px;
			width: 282px;
		}
	}
}

.design {
	position: relative;
	padding-top: 111px;
	
	background-color:$gray100;
	background: url(../images/design-bg.png) no-repeat;
	
	&__big-screen {
    	margin-left: calc(50% - 264px);
    	margin-top: 45px;
		
		&-img {
			display: block;
		}
	}

	&__small-screen {
		position: absolute;
		bottom: -101px;
    	right: 588px;
	}
}

.do {
	padding-top: 110px;
	padding-bottom: 120px;

	background-color: $white;
	
	&__image  {
		display: block;
	}

	&__text {
		width: 955px;
    	padding: 42px 0 88px;
		margin: 0 auto;

		text-align: center;
	}

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		&-item {
			position: relative;

			&-arrow {
				display: block;
				width: 22px;
				height: 12px;
				position: absolute;
				top: 25px;
    			right: 20px;
				
				background: url("../images/do-arrow.svg") no-repeat;
				cursor: pointer;
			}
		}

		&-scroll {
			width: 563px;
			overflow-x: hidden;
		}

		&-footer {
			position: relative;
			width: 600px;
			height: 60px;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			padding-left: 61px;

			border: 1px solid $gray90;

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 14px;
    			left: 16px;
				width: 32px;
				height: 32px;
			}

			&--add-icon1::before {
				background: url("../images/do-icon-1.svg") no-repeat;
			}

			&--add-icon2::before {
				background: url("../images/do-icon-2.svg") no-repeat;
			}
			&--add-icon3::before {
				background: url("../images/do-icon-3.svg") no-repeat;
			}
		}

		&-title {
			color: $gray20;
			@include fontMontserratRegular ();
			text-transform: uppercase;
		}

		&-text-block {
			width: 600px;
			height: 181px;
			    padding: 15px 20px 28px 20px;
			box-sizing: border-box;

			border: 1px solid $gray90;
			border-top: none;
		}

		&-text {
			width: 525px;
			height: 137px;

			color: $gray60;
			@include fontRobotoItalic ();
		}
	}	
}

.reviews {
	background-color: $gray110;

	&--bg-w {
		padding: 61px 0 90px;

		background-color: $white;
	}

	&__flex-block {
		height: 290px;
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		position: relative;
		box-sizing: border-box;
		padding-left: 207px;

		&::before {
			content: "";
			position: absolute;
			left: -2px;
		    width: 142px;
		    height: 144px;

			background: url("../images/reviews-icon.svg") center no-repeat;
			border: 3px solid $softCyan;
		}

		&--chg-icon {
			position: relative;
			box-sizing: border-box;
			padding-left: 205px;

			&::before {
				content: "";
				position: absolute;
				top: -31px;
    			left: -34px;
				width: 210px;
				height: 210px;
				border-radius: 50%;

				background: url("../images/reviews-chg-icon.jpg") center no-repeat;
			}
		}
	}

	&__content-text {
		width: 767px;
		margin-bottom: 18px;

		color: $gray60;
		@include fontRobotoItalic ();
		font-size: 24px;
		line-height: 36px;
	}

	&__content-author {
		display: flex;

		& .separate-line {
			margin: 15px 10px 0 2px;
		}
	}

	&__content-name {
		color: $gray20;
		@include fontKaushanScript ();
	}

	&__switch {
		width: 12px;
		height: 22px;

		cursor: pointer;

		&-left {
			background: url("../images/switch-left.svg") no-repeat;
		}

		&-right {
			background: url("../images/switch-right.svg") no-repeat;
		}
	}
}

.team {
	padding: 102px 0 115px;

	background-color: $white;
	
	&__text {
		width: 955px;
		margin: 43px auto 88px;
		text-align: center;
	}
	&__images {
		display: flex;
		justify-content: space-between;
	}

	&__image {
		width: 380px;
		height: 470px;
		display: block;
	}

	&__image-container {
		position: relative; 
		top: 0;
		left: 0;
		transition: all 0.2s ease-in;
	}

	&__image-block {
		background-color: $softCyan;

		&:hover .team__image-container {
			top: -7px;
			left: -7px;
		}

		&:hover .team__hovered {
			opacity: 1;
		}
	}

	&__hovered {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
		transition: all 0.2s ease-in;
		opacity: 0;

		&-icon {
			width: 56px;
			height: 56px;

			border-left: 1px solid rgba(243, 129, 129, 0.5);;

			&--add-icon1 {
				background: url("../images/team-facebook.svg") center no-repeat;
				background-color: $softRed;
			}

			&--add-icon2 {
				background: url("../images/team-twitter.svg") center no-repeat;
				background-color: $softYellow;
			}

			&--add-icon3 {
				background: url("../images/team-pinterest.svg") center no-repeat;
				background-color: $softYellow;
			}

			&--add-icon4 {
				background: url("../images/team-instagram.svg") center no-repeat;
				background-color: $softYellow;
			}
		}
	}

	&__author {
		margin-top: 27px;

		text-align: center;

		background-color: $white;
	}

	&__name {
		color: $gray20;
		@include fontMontserratRegular ();
		text-transform: uppercase;
	}

	&__profession {
		color: $gray60;
		@include fontRobotoItalic ();
	}
}

.advertising {
	width: 1920px;
	height: 250px;
	display: flex;
	align-items: center;

	background-color: $gray110;

	&__icon {
		width: 1212px;
		height: 149px;
	}
}

.our-work {
	padding-top: 110px;

	background-color: $white;

	&__text {
		width: 955px;
	    margin: 0 auto;
	    padding: 44px 0 98px;

	    text-align: center;
	}

	&__list {
		display: flex;

		&-block--add-flex {
			width: 960px;
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__item {
		position: relative;

		&:hover .our-work__hovered {
			opacity: 1;
		}
	}

	&__image {
		display: block;
	}

	&__hovered {
		position: absolute;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 480px;
		height: 390px;
		opacity: 0;

		background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
		z-index: 1;
		transition: all 0.2s ease-in;

		&::before {
			content: "";
			position: absolute;
			top: 128px;
			width: 30px;
			height: 30px;

			background: url("../images/our-work-hovered-icon.svg") no-repeat;
		}

		&--height {
			height: 780px;

			&::before {
				top: 315px;
			}
		}

		&-title {
			color: $white;
			@include fontMontserratRegular ();
			text-transform: uppercase;
		}

		&-text {
			color: $white;
			@include fontRobotoItalic ();
		}
	}
}

.clients {
	padding: 109px 0 62px;

	background-color: $gray120;
	background: url("../images/clients-bg.png") no-repeat;
	
	&__container {
		display: flex;
		flex-wrap: wrap;
		margin-top: 87px;
	}

	&__block {
		width: 600px;
		padding-left: 180px;
		margin-bottom: 62px;
		box-sizing: border-box;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 41px;
    		top: 1px;
			display: block;
			width: 110px;
			height: 110px;

			border-radius: 50%;
			background-color: red;
		}

		&--add-icon1::before {
			background: url("../images/clients_1.jpg") no-repeat;
		}

		&--add-icon2::before {
			background: url("../images/clients_2.jpg") no-repeat;
		}

		&--add-icon3::before {
			background: url("../images/clients_3.jpg") no-repeat;
		}

		&--add-icon4::before {
			background: url("../images/clients_4.jpg") no-repeat;
		}
	}

	&__separate-line {
		width: 60px;
		height: 3px;

		background-color: $softRed;
	}

	&__name {
		padding: 8px 0 2px;

		color: $gray20;
		@include fontMontserratRegular ();
		text-transform: uppercase;
	}

	&__prof {
		padding-bottom: 15px;

		color: $gray20;
		@include fontRobotoItalic ();
	}

	&__text {
		width: 373px;
		padding-top: 20px;
	}
}

.blog {
	padding: 112px 0 111px;

	background-color: $white;

	&__container {
		display: flex;
		justify-content: space-between;
		padding-top: 47px;
	}

	&__block {
		position: relative;
		width: 380px;
	}

	&__date {
		position: absolute;
		top: 159px;
    	left: -9px;
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
		width: 60px;
		height: 70px;

		color: $white;
		@include fontRobotoItalic ();
		font-weight: 300;

		background-color: $softCyan;

		&-num {
			@include fontMontserratBold ();
			text-transform: uppercase;

			font-style: normal;
		}
	}

	&__title {
		padding: 6px 0;

		color: $gray20;
		@include fontMontserratRegular ();
		text-transform: uppercase;
	}

	&__text {
		padding-bottom: 20px;
	}

	&__separate-line {
		display: block;
		width: 380px;
		height: 2px;

		background-color: $gray90;
	}

	&__statistic {
		display: flex;
		padding-top: 11px;
	}

	&__views {
		position: relative;
		margin-left: 25px;
		margin-right: 40px;

		&::before {
			content: "";
			position: absolute;
			top: 4px;
    		left: -25px;
			display: block;
			width: 20px;
			height: 12px;

			background: url("../images/blog__view.svg") no-repeat;
			cursor: pointer;
		}
	}

	&__comments {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 4px;
    		left: -21px;
			display: block;
			width: 17px;
			height: 15px;

			background: url("../images/blog__comment.svg") no-repeat;
			cursor: pointer;
		}
	}
}

.map {
	height: 199px;
	display: flex;
	align-items: center;

	background-color: $gray100;
	background: url("../images/map-bg.png") no-repeat;
	border-bottom: 1px solid transparent;
	
	&__content {
		width: 200px;
		margin: 0 auto;

		text-align: center;
	}

	&__icon {
		width: 20px;
		height: 26px;
		margin: 0 auto;
		padding-bottom: 18px;

		background: url("../images/map-icon.svg") no-repeat;
		cursor: pointer;
	}

	&__text {
		color: $softRed;
		@include fontMontserratBold ();
		font-size: 24px;
		text-transform: uppercase;
	}

	&__separate-line {
		width: 60px;
		height: 3px;
		margin: 20px auto 0;

		background-color: $softRed;
	}
}

.footer {
	padding-top: 74px;

	background-color: $gray110;

	&__container {
		width: 1200px;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		width: 510px;

		&-icon {
			color: $gray70;
			@include fontMontserratBold ();
			font-size: 46px;

			text-decoration: none;
		}

		&-text {
			width: 463px;
			padding: 35px 0 42px;
		}

		&-followers {
			padding-bottom: 13px;

			color: $gray20;
			@include fontMontserratRegular ();

			&-num {
				padding-right: 5px;

				@include fontMontserratRegular ();
				font-size: 18px;
				font-weight: 700;
			}
		}

		&-line {
			width: 480px;
			height: 1px;
			background-color: $gray90;
		}
	}

	&__social {
		display: flex;
		align-items: center;
		padding: 11px 0 34px;

		color: $gray60;
		@include fontRobotoItalic ();

		&-container {
			display: flex;
			justify-content: space-between;
			width: 223px;
			margin-left: 17px;
		}

		&-icon {
			width: 17px;
			height: 17px;

			cursor: pointer;

			&--add-icon1 {
				background: url("../images/footer-facebook.svg") center no-repeat;
			}
			&--add-icon2 {
				background: url("../images/footer-twitter.svg") center no-repeat;
			}
			&--add-icon3 {
				background: url("../images/footer-instagram.svg") center no-repeat;
			}
			&--add-icon4 {
				background: url("../images/footer-pinterest.svg") center no-repeat;
			}
			&--add-icon5 {
				background: url("../images/footer-google_plus.svg") center no-repeat;
			}
			&--add-icon6 {
				background: url("../images/footer-youtube.svg") center no-repeat;
			}
			&--add-icon7 {
				background: url("../images/footer-dribbble.svg") center no-repeat;
			}
			&--add-icon8 {
				background: url("../images/footer-tumblr.svg") center no-repeat;
			}
		}
	}

	&__form {
		display: flex;

		&-input {
			padding-left: 13px;
    		box-sizing: border-box;
			width: 229px;
			height: 38px;

			border: none;
			border: 1px solid $gray80;
			border-right: none;
			background-color: $white;
		}

		&-button {
			width: 151px;
    		height: 37px;
			padding: 0;
			padding-left: 13px;

			color: $white;
			@include fontMontserratRegular ();
			font-weight: 700;
			text-transform: uppercase;

			background-color: $softCyan;
			border: none;
			cursor: pointer;
		}
	}

	&__blogs {
		width: 420px;

		&-title {
			padding-bottom: 32px;

			color: $gray20;
			@include fontMontserratRegular ();
			text-transform: uppercase;
		}

		&-content {
			width: 341px;
			display: flex;
			justify-content: space-between;

			&--add-marg-b {
				margin-bottom: 32px;
			}
		}

		&-text {
			color: $gray20;
			@include fontMontserratRegular ();
			font-size: 12px;
			line-height: 18px;
			text-transform: uppercase;
		}

		&-inf {
			width: 200px;
			align-self: flex-end;
		}

		&-date {
			color: $gray60;
			@include fontRobotoItalic ();
			font-size: 13px;
		}
	}

	&__instagram {
		width: 272px;
		
		&-images {
			margin-bottom: 12px;

			width: 270px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		&-item {
			padding-right: 2px;
			padding-bottom: 2px;
		}

		&-link {
			text-decoration: none;

			color: $gray20;
			@include fontRobotoItalic ();
			font-size: 13px;
		}
	}

	&__separate-line {
		width: 1200px;
		height: 1px;
		margin-top: 70px;

		background-color: $gray90;
	}

	&__copy-right {
		padding: 12px 0 17px;

		text-align: center;

		&--add-color {
			color: $pink;
		}
	}
}

@media (max-width: 480px) {
	.outer-container {
		width: 480px;

		box-shadow: none;
	}

	.inner-container {
		width: 480px;
		padding: 0 30px 0;
		box-sizing: border-box;
	}

	.header {
		width: 100%;
		padding-top: 28px;
		
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 65% center;

		&__flex-container {
			position: relative;
		}

		&__shop {
			display: none;
		}

		&__nav {
			display: none;
			transition: all 0.5s ease-in;
		}

		&__nav-item {
			padding: 10px 60px;

			border-bottom: 1px solid rgba(204, 78, 92, 0.6);

			&--color-y {
			color: $softYellow;
			}

			&--color-y::before {
				content: "";
				width: 0;
				height: 0;  
			}

			&:hover {
				color: $softYellow;
				border-bottom: 1px solid rgb(252,227,138);
			}
		}

		&__label {
			position: absolute;
			top: 0px;
    		right: 10px;
			width: 30px;
			height: 24px;

			cursor: pointer;

			&-item {
				height: 3px;
				margin-bottom: 7px;

				background-color: $white;
				transition: all 0.2s ease-in;
			}
		}

		&__checkbox:checked ~ .header__nav {
			display: flex;
			flex-direction: column;
			margin-right: 40px;
		}

		&__checkbox:checked ~ .header__label .header__label-item:nth-child(1) {
			transform: translateY(10px) rotate(45deg);
			transition: all 0.3s ease-in;
		}

		&__checkbox:checked ~ .header__label .header__label-item:nth-child(2) {
			display: none;
			transition: all 0.3s ease-in;
		}

		&__checkbox:checked ~ .header__label .header__label-item:nth-child(3) {
			transform:  rotate(-45deg);
			transition: all 0.3s ease-in;
		}

		&__title {
			width: 350px;
		    margin: 35px auto;

		    font-size: 60px;
		    line-height: 74px;
		}

		&__sub-title {
			padding-top: 80px;

			font-size: 35px;
		}

		&__button {
		    width: 120px;
		    height: 35px;
		    margin-top: 60px;
		    margin-left: calc(50% - 60px);

		    font-size: 12px;
		   
		    border: 2px solid #ffffff;
		}

		&__bottom-blocks {
			margin-top: 80px;
		}

		&__bottom-block {
		    width: 100px;
		    height: 40px;

		    font-size: 10px;

		    border-top: 2px solid #ffffff;

			&-num {
				font-size: 16px;
			}

			&--add-line::before {
				top: -2px;
				width: 50px;

				border-top: 2px solid $softRed;
			}
		}
	}

	.separate-line {
	    width: 45px;
	    height: 2px;
	}

	.about {
		padding: 91px 0 110px;

		background-color: $white;

		&__images {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 780px;
			width: 380px;
			margin: 0 auto;
		}

		&__image {
			display: block;
			width: 100%;
		}

		&__text {
			width: 390px;
	    	margin: 30px auto 55px;

			text-align: justify;
		}
	}

	.statistics {
		background-color: $white;

		&__block {
			flex-wrap: wrap;

			background-color: $softCyan;
		}

		&__item {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 420px;
			height: 100px;

			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		}

		&__number {
			margin-top: 0;

			font-size: 60px;
		}

		&__text {
			width: 200px;
			padding-top: 0;

			text-align: start;
		}
	}

	.services {

		&__list {

			&:before {
				display: none;
			}
		}

		&__item {
			border-bottom: 1px solid $gray90;
		}
	}

	.design {
		padding-top: 75px;

		&__big-screen-img {
		    width: 340px;
		    margin: calc(50% - 145px);
		    margin-top: 25px;
		    margin-bottom: 0;
		}
	}

	.do {
		padding: 70px 0 70px;

		&__text {
			width: 390px;

			text-align: justify;
		}

		&__container {
			width: 400px;
			flex-direction: column;
			margin: 0 auto;
		}

		&__image {
			width: 400px;
			margin-bottom: 10px;
		}
		
		&__content {

			&-scroll {
				width: 363px;
			}

			&-footer {
				width: 400px;
				height: 60px;
			}

			&-text-block {
				width: 400px;
			}

			&-text {
				width: 350px;
				height: 138px;
			}

			&-item-arrow {
				right: 14px;
			}
		}
	}

	.reviews {

		&__flex-block {
			position: relative;
			display: block;
			padding-bottom: 30px;
			padding-top: 30px;
			
			border-bottom: 1px solid transparent;
		}

		&__content {
			padding: 120px 0 0 0;

			&-text {
				width: 350px;
				margin: 0 auto 15px;

				font-size: 16px;
	    		line-height: 26px;

	    		text-align: justify;
			}

			&-author {
				margin-left: 15px;
			}

			&-name {
				font-size: 18px;
			}

			&::before {
				width: 90px;
	    		height: 90px;
				top: 0;
	    		left: 140px;
			}
		}

		&__switch {
			position: absolute;

			&-left {
				top: 162px;
	    		left: -14px;
			}

			&-right {
				bottom: 168px;
	    		right: -14px;
			}
		}
	}

	.team {
		padding-bottom: 30px;

		&__text {
			width: 390px;

			text-align: justify;
		}

		&__item-container {
			margin-bottom: 30px;
		}

		&__images {
			display: block;
		}

		&__image-block {
			width: 380px;

			margin: 0 auto;
		}
	}

	.advertising {
	    width: 480px;
	    height: 150px;
	    display: flex;
	    align-items: center;
	    background-color: #f8f8f8;

	    &__icon {
	    	width: 100%;
	    	height: 100%;
	    }
	}

	.our-work {

		&__text {
			width: 390px;

	    	text-align: justify;
		}

		&__list {
			display: block;
		}

		&__list-block {
			width: 480px;

			&--add-flex {
				width: 480px;
			}
		}
	}

	.reviews {

		&--bg-w {
    		padding: 35px 0 20px;
    	}

		&__flex-block {
			display: block;
		}

		&__content--chg-icon {
			padding-left: 0;
			padding-top: 143px;

			&::before {
				content: "";
				position: absolute;
				left: 100px;
			    width: 142px;
			    height: 144px;

				background: url("../images/reviews-icon.svg") cover no-repeat;
			}
		}
	}

	.clients {
		padding: 100px 0 20px;

		background-image: none;
		background-color: #f6f6f6;
		
		&__container {
		   width: 400px;
		    margin-top: 87px;
		}

		&__block {
		    padding-left: 145px;

			&::before {
				left: 11px;
			}
		}

		&__text {
		    width: 270px;
		    margin: 0;

		    text-align: justify;
		}
	}

	.blog {

		&__container {
			width: 380px;
			display: block;
		    margin: 0 auto;
		}

	    &__block {
	    	width: 380px;
	    	margin-bottom: 70px;
	    }
	}

	.footer {

		&__container {
		    width: 400px;
		    display: block;
		}

		&__logo {
			width: 400px;
			padding-bottom: 50px;

			border-bottom: 1px solid $softRed;

			&-line {
		    	width: 305px;
			}

			&-text {
			    width: 400px;

			    text-align: justify;
			}
		}

		&__blogs {
		    width: 400px;
		    padding-top: 50px;
		    padding-bottom: 50px;

		    border-bottom: 1px solid $softRed;
		}

		&__instagram {
		    width: 400px;
		    padding-top: 50px;
		}

		&__separate-line {
		    width: 400px;
		}
	}
}
